
/* * {

} */

body {
    font-family: 'Raleway', Courier, monospace;

    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#marque {
    flex: 60%;
}

.nav-up {
    display: flex;
    flex: 25%;
    justify-content: space-around;
}

.nav-up li {

}


main {

}
.section {
    display: flex;
    flex-direction: column;
}

#titre {

}
#vilnatur {

}
.form {

}
#choix {

}

#position {

}
#insearch {

}
#search {

}
#filtre {
    /* display: flex; */    
    /* On dirait que a cause du id filtre plus bas ceci ne marche pas */
}
.filtr {
    display: flex;
    justify-content: flex-start;
    
}
.filtr input {

}

label{

}

#eco {

}
.icon
 {

 }
 #autocon {

 }
 #famil {

 }
 #famcon {

 }
 #romant {

 }
 #romcon {

 }
 #autoriz {

 }
 #autocon {

 }
 .info {

 }

 .pilier {

 }
 #gdpic {

 }
 #hebrgmars {

 }
 #grp-pic {

 }
 .phototel {

 }

 .impic {

 }
 .soustitre {

 }
 .star {

 }
 .inactive {

 }
 #afich {

 }
 aside {

 }
 #popul {

 }
 #courb {

 }
 .gaside {

 }