.nav-up {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.nav-up li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    width: 45%;
    padding: 2px;
}